# App
CHEFMATE_APP_NAME='ChefMate Backend'
CHEFMATE_APP_ENV=dev
CHEFMATE_APP_DEBUG=true
CHEFMATE_API_PREFIX=/api

# Database
CHEFMATE_DATABASE_URL=mysql+pymysql://root:password@localhost:3306/chefmate

# Object Storage
CHEFMATE_OBJECT_STORAGE_BUCKET=chefmate-assets

# LLM
CHEFMATE_LLM_PROVIDER=openai
CHEFMATE_LLM_MODEL=gpt-4.1-mini
